.swiper{
    position: absolute;
    bottom: 15%;
    left: 75%;
    width: 60vw;
    height: 40vh;
    transform: translateX(-50%);
    background: transparent;
}

.swiper-slide{
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0x 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0 , 0 , 0, 0.35);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.swiper-slide img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
    .swiper {
        position: absolute;
        bottom: 5%;
        left: 50%;
        width: 80vw;
        height: 40vh;
        transform: translateX(-50%);
        background: transparent;
    }
}