.itemCard {
    position: relative;
    padding: 25px 20px;
    margin-bottom: 25px;
    width: auto;
    height: 450px;
    border: 1px solid rgba(0,0,0,0.1);
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
    5px 5px 15px rgba(0,0,0,0.35);
}

.itemCard img {
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
    height: 50%;
    width: 100%;
}

.itemCard .like {
    position: absolute;
    top: 24px;
    right: 19px;
    width: 40px;
    height: 40px;
    background: var(--bgColor);
    padding: 5px;
    border-radius: 0 0 0 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.itemCard .like.active {
    color: var(--primary);
}

.itemCard span {
    color: #ffffff;
}

.itemCard .itemFeature {
    display: flex;
    justify-content: space-between;
}

.itemCard .itemType,
.itemCard .itemPromotion {
    background: var(--primary);
    padding: 5px 10px;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCard .itemPromotion{
    font-weight: 800;
    font-size: 1.3rem;
}

.itemCard .itemTitle {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.itemCard .itemPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.itemCard .discount {
    background: var(--primary);
    padding: 2px 10px;
    font-size: 1.2rem;
    font-weight: 800;
}

.itemCard .prevPrice {
    text-decoration: line-through;
    text-decoration-color: #ff0000;
    text-decoration-thickness: 3px;
    font-size: 0.8rem;
}

.itemCard .currentPrice {
    font-size: 1.2rem;
    font-weight: 800;
}

.itemCard .addBag {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ffffff;
    background: var(--primary);
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 0;
    font-size: 1.2rem;
    transition: 0.3s;
}

.itemCard .addBag:hover {
    background: var(--primary);
}